.header{
    grid-area: header;
    background: linear-gradient(135deg, #49e61b, #daff40);
    padding: 30px;
    display: flex;
    
}

.header nav ul {
    display: flex;
    justify-content: flex-end;
}

.header nav a{
    display: block;
    padding: 10px;
    color: white;
    font-size: 1.125em;
    background: rgba(0,0,0,.1);
    border-radius: 5px;
    transition: 0.1s;
}

.header nav a:hover{
    background: rgba(0,0,0,.5);
}

.header li + li{
    margin-left: 10px;
}

.logo{
    max-width: 200px;
    font-size: 50px;
    font-family: 'Bungee Shade', cursive;
    color: #047d91;
}